Repository elenatanasoiu/elenatanasoiu.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: yarn prettier -c
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|mdx|json|html)$
      - id: eslint
        name: ESLint
        entry: yarn eslint --quiet
        language: system
        files: \.(js|jsx|ts|tsx)$
      - id: typescript
        name: TypeScript
        entry: yarn tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

Add blog post
  lib/posts.ts
  pages/index.tsx
  posts/2019-02-08-what-I-learned-in-two-years-at-unboxed.md
Due: prettier, eslint, typescript

Regenerate static site
  docs/404.html
  docs/_next/data/faKWmC3Vz12jI7P8uxcsv/index.json
  docs/_next/static/BFTfYXm-68A8BnddenfOL/_buildManifest.js
  docs/_next/static/BFTfYXm-68A8BnddenfOL/_ssgManifest.js
  docs/_next/static/chunks/pages/_app-078215d1836d044a3814.js
  docs/_next/static/chunks/pages/_app-aed51c52b4a8414507e0.js
  docs/_next/static/chunks/pages/_app.js
  docs/_next/static/chunks/pages/index-541eea8cb5c801c46a90.js
  docs/_next/static/chunks/pages/index-74743101571fdffa83b5.js
  docs/_next/static/chunks/pages/index.js
  docs/_next/static/chunks/pages/next/dist/pages/_error.js
  docs/_next/static/chunks/webpack.js
  docs/_next/static/css/3a06620f13ff8de64b3c.css
  docs/_next/static/css/b915cc7d0ba0ce8f6a03.css
  docs/_next/static/css/ecf97dc8a70ca26480c5.css
  docs/_next/static/faKWmC3Vz12jI7P8uxcsv/_buildManifest.js
  docs/_next/static/faKWmC3Vz12jI7P8uxcsv/_ssgManifest.js
  docs/_next/static/webpack/3874780a4f097133a834.hot-update.json
  docs/_next/static/webpack/478cc027ae965d550329.hot-update.json
  docs/_next/static/webpack/9a279b5ed41d3516fb3d.hot-update.json
  docs/_next/static/webpack/9a567e40e5df4284fb1f.hot-update.json
  docs/index.html
Due: prettier, eslint

Make param optional
  components/layout.tsx
Due: prettier, eslint, typescript

Introduce dynamic route file for posts
  pages/posts/[id].tsx
Due: prettier, eslint, typescript

Define list of allowed post ids
  lib/posts.ts
  pages/posts/[id].tsx
Due: prettier, eslint, typescript

Fetch post data based on id param
  lib/posts.ts
  pages/posts/[id].tsx
Due: prettier, eslint, typescript

Add remark for turning markdown into html
  package.json
  yarn.lock
Due: prettier

Display blog content on post page
  lib/posts.ts
  pages/posts/[id].tsx
Due: prettier, eslint, typescript

Add Date component
  components/date.tsx
  package.json
  pages/posts/[id].tsx
  yarn.lock
Due: prettier, eslint, typescript

Add link to index page
  pages/index.tsx
Due: prettier, eslint, typescript

Style title and content
  pages/posts/[id].tsx
Due: prettier, eslint, typescript

Add markdown linter
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: prettier

Lint markdown
  README.md
  posts/2019-02-08-what-I-learned-in-two-years-at-unboxed.md
Due: none

Add GA tracking
  .env.development
  .env.production
  pages/_document.tsx
Due: prettier, eslint, typescript

Add google site verification
  pages/_document.tsx
Due: prettier, eslint, typescript

SEO all the things
  .eslintrc.json
  components/layout.tsx
  lib/posts.ts
  pages/index.tsx
  pages/posts/[id].tsx
  posts/2019-02-08-what-I-learned-in-two-years-at-unboxed.md
  public/images/2019-02-08-sapling.jpeg
Due: prettier, eslint, typescript

Force push on deploy
  package.json
Due: prettier

Add social list with icons
  components/SocialList.tsx
  pages/index.tsx
  public/images/github.svg
  public/images/twitter.svg
  styles/utils.module.scss
Due: prettier, eslint, typescript

Add sitemap
  next-sitemap.js
  package.json
  public/robots.txt
  public/sitemap.xml
  yarn.lock
Due: prettier, eslint

Ran `yarn upgrade`
  yarn.lock
Due: none

WIP
  lib/notes.ts
  notes/2022-01-06.md
  pages/index.tsx
  pages/notes/[id].tsx
Due: prettier, eslint, typescript

Add dodo
  pages/posts/[id].tsx
  posts/2023-03-08-dodo-death.md
Due: prettier, eslint, typescript

Rename Performance Viewer to Flamegraph Viewer
  public/performance-viewer/index.html
  src/content/blog/intro-to-flamegraphs.md
Due: prettier

Add Flamegraph Viewer to navigation
  src/components/Nav.astro
Due: none

Fix jump bug on game restart by cancelling duplicate animation frames
  src/pages/games/flamegraph-runner.astro
Due: none

Remove pickle power-up, add defrag tutorial, fix restart bug
  src/pages/games/pickle-panic.astro
Due: none

Pickle Panic: full pickle-jar redesign, clean up review page
  src/pages/games/index.astro
  src/pages/games/pickle-panic.astro
  src/pages/games/review.astro
Due: none
